;; this is an example of what a static site configuration
;; would look like.
{:name "idk"
 :output "publish/"
 :sources [{:type 'saison.sources/static
            :source-path "public/"
            :output-root "/"}
           {:type 'page.blog
            :rss true
            :base-path "/writing"
            :any-info-to-pass-to-fn "bleh"}
           {:type 'saison.sources/clojurescript
            :output "/writing/something.js"
            :build-config {}}
           ]}
